
{% extends 'base.html' %}
{% block content %}
    <div>
        <br>
        <h1>Create a new task</h1>
        <form method="post">
            {% csrf_token %}
            <div>
                <label>Name:</label>
                <input type="text" name="name">
                <br><br>
                <div>
                    <label>Start date:</label>
                    <input type="text" name="start_date">
                    <br><br>
                </div>
                <div>
                    <label>Due date:</label>
                    <input type="text" name="due_date">
                    <br><br>
                </div>
                <div>
                    <label>Project:</label>
                    <select name="projects"></select>
                    <br><br>
                </div>
                <div>
                    <label>Assignee:</label>
                    <select name="asignee"></select>
                    <br><br>
                </div>
                <button type="submit">Create</button>
            </div>
        </form>
    </div>
{% endblock content %}
