{% extends 'base.html' %}
{% block content %}
    <div>
        <h1> My Tasks </h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for task in task_list %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.end_date }}</td>
                        <td> {{ task.is_completed }}</td>
                    </tr>
                    <div>
                {% empty %}
                    <p>You have no tasks</p>
                    </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
