{% extends 'base.html' %}
{% block content %}
    <!-- Main tag is in the base.html file -->
    <div>
        <br>
        <h1>Create a new project</h1>
        <p>
            <a href="http://localhost:8000/projects/create.html"> Create a new project </a>
            <!--need to link this up and check the correct url -->
        </p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <label> Name: </label>
                <input type="text" name="name">
                <br><br>
                <div>
                    <label>Description:</label>
                    <textarea name="description"></textarea>
                </div>
                <br>
                <div>
                    <label>Members:</label>
                    <select name="members"></select>
                    <br><br>
                </div>
                <div>
                    <button type="sumbit">Create</button>
                </div>
            </form>
        </div>
{% endblock content %}
