{% extends 'base.html' %}
{% block content %}
    <div>
        <h1>   {% for project in project_list %}
            {{ project.name }} </h1>
            <p> {{ project.description }} </p>
        {% endfor %}
            <h2>Tasks</h2>
            <p>
                <a href="http://localhost:8000/tasks/create.html"> Create a new task </a>
            </p>
            <div> {% for task in task %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Asignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {{ task.name }} </td>
                            <td> {{ tasks.assignee }} </td>
                            <td> {{ task.start_date|date:"m-d-Y" }}</td>
                            <td> {{ task.due_date|date:"m-d-Y" }}</td>
                            <td>  {{ task.is_completed  }}</td>
                        </tr>

            {% empty %}
                <p>This project has no tasks</p>
            {% endfor %}
            </div>
        </tbody>
    </table>
    </div>
{% endblock content %}
