{% extends 'base.html' %}
{% block content %}
    <div>
        <h1>My Projects</h1>
        {% for project in project_list %}
        {% empty %}
            <div>
                <p>You are not assigned to any projects</p>
            </div>
        {% endfor %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>

                {% for project in project_list %}
                    <tr>
                        <td>{{ project.name }}</td>
                {% endfor %}

                {% for task in task_list %}
                    <td> {{ task.name }} </td>
                    </tr>
                {%  endfor  %}
            </tbody>
        </table>
        <br> <div>
            <a href="{% url 'create_project' %}">Create Project</a>
        </div>

    </div>
{% endblock content %}
